body{font-family:Arial, Helvetica, sans-serif}#root{height:100vh;display:flex;flex-direction:column}.profile__name{display:inline-flex;color:#6f3ccc;margin:10px 10px;padding:8px;border:3px solid #be4646}.profile__birth{display:inline-flex;color:orangered;margin:10px;padding:8px;border:3px solid #32d347}

